<div class="filter">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input
          type="number"
          id="number"
          min="1"
          placeholder="Номер заказа"
          [(ngModel)]="orderNumber"
        />
      </div>
    </div>
    <div class="col filter-pickers">
      <div class="input-field">
        <input
          matInput
          [matDatepicker]="pickerStartDate"
          (click)="pickerStartDate.open()"
          placeholder="Начальная Дата"
          [(ngModel)]="startDate"
          class="datepicker"
        />
        <mat-datepicker #pickerStartDate></mat-datepicker>
      </div>

      <div class="input-field">
        <input
          matInput
          [matDatepicker]="pickerEndDate"
          (click)="pickerEndDate.open()"
          placeholder="Конечная Дата"
          [min]="startDate"
          [(ngModel)]="endDate"
          class="datepicker"
        />
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </div>
    </div>
  </div>

  <button
    (click)="onSubmit()"
    [disabled]="!orderNumber && !startDate && !endDate"
    type="submit"
    class="btn waves-effect wavers-light btn-small"
  >
    Применить фильтр
  </button>
</div>
