<div class="row">
  <div class="col s12">
    <app-add-position></app-add-position>

    <div
      *ngIf="
        !(isLoading$ | async) && (positions$ | async) as positions;
        else loader
      "
    >
      <div *ngIf="positions.length !== 0; else empty" class="collection">
        <ng-container *ngFor="let position of positions">
          <div class="collection-item collection-item-icon">
            <span>
              {{ position.name }} <strong>{{ position.cost }} руб.</strong>
            </span>

            <div class="position__btns">
              <app-edit-position
                [positionId]="position._id || ''"
                [position]="position"
              ></app-edit-position>

              <span (click)="openModal('deletePosition' + position._id)">
                <i class="material-icons">delete</i>
              </span>
            </div>
          </div>

          <app-modal
            title="Удалить Позицию"
            [text]="
              'Вы уверены что хотите удалить позицию ' + position.name + '?'
            "
            [modalType]="'deletePosition' + position._id"
          >
            <ng-container buttons>
              <button
                type="button"
                (click)="closeModal()"
                class="modal-action waves-effect waves-black btn-flat"
              >
                Отмена
              </button>
              <button
                (click)="deletePosition(position._id || '')"
                type="submit"
                class="modal-action btn waves-effect"
              >
                Удалить
              </button>
            </ng-container>
          </app-modal>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="center">
    <app-loader></app-loader>
  </div>
</ng-template>

<ng-template #empty>
  <div class="center">
    <h5>Позиций нет</h5>
  </div>
</ng-template>
