<div class="page-title">
  <h4>
    <a routerLink="/assortment">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    Редактировать Категорию
  </h4>
  <span>
    <button
      (click)="openModal('deleteCategory' + categoryId)"
      class="btn btn-small red"
    >
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row info-content">
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="col s12 l6">
    <app-input
      label="Название"
      id="name"
      type="text"
      [control]="getInputName('name')"
    ></app-input>

    <div>
      <input (input)="onImageSelect($event)" type="file" id="file" />
      <button
        [disabled]="loading$ | async"
        type="button"
        class="waves-effect btn-nopadding waves-light btn orange lighten-2 mb2"
      >
        <label for="file">
          <i class="material-icons left">backup</i>
          Загрузить изображение
        </label>
      </button>
    </div>

    <div>
      <button
        [disabled]="
          (categoryForm.pristine && isImagePrestine) ||
          (loading$ | async) ||
          (isPending$ | async)
        "
        type="submit"
        class="waves-effect waves-light btn"
      >
        Сохранить изменения
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img
      *ngIf="imagePreview && !(loading$ | async)"
      class="responsive-img"
      style="height: 200px"
      [src]="imagePreview"
    />
  </div>
</div>

<app-position-list [categoryId]="categoryId"></app-position-list>

<app-modal
  title="Удалить Категорию"
  [text]="'Вы уверены что хотите удалить категорию ?'"
  [modalType]="'deleteCategory' + categoryId"
>
  <ng-container buttons>
    <button
      type="button"
      (click)="closeModal()"
      class="modal-action waves-effect waves-black btn-flat"
    >
      Отмена
    </button>
    <button
      (click)="onDelete()"
      [disabled]="isPending$ | async"
      type="submit"
      class="modal-action btn waves-effect"
    >
      Удалить
    </button>
  </ng-container>
</app-modal>
