<span (click)="openModal('editPosition' + positionId)" class="edit-btn">
  <i class="material-icons">edit</i>
</span>

<form [formGroup]="positionForm" (ngSubmit)="onSubmit()">
  <app-modal
    title=" Изменить Позицию"
    [modalType]="'editPosition' + positionId"
  >
    <app-input
      label="Название"
      id="name"
      type="text"
      [control]="getInputName('name')"
    ></app-input>
    <app-input
      label="Стоимость"
      type="number"
      id="cost"
      [control]="getInputName('cost')"
    ></app-input>
    <ng-container buttons>
      <button
        type="button"
        (click)="closeModal()"
        class="modal-action waves-effect waves-black btn-flat"
      >
        Отмена
      </button>
      <button
        [disabled]="positionForm.invalid || (isPending$ | async)"
        type="submit"
        class="modal-action btn waves-effect"
      >
        Добавить
      </button>
    </ng-container>
  </app-modal>
</form>
