/* You can add global styles to this file, and also import other style files */

@import "~materialize-css/dist/css/materialize.min.css";
@import "ngx-toastr/toastr.css";
@import "theme/styles.min.css";

.input-field > label {
  pointer-events: none;
}

#toast-container {
  top: auto;
}

.btn {
  position: relative;
}

.cart-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -8px;
  left: 38px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}
